footer {
    font-size: 10pt;
    color: #bbb;
    a {
        text-decoration: none;
        color: lightgray;
    }

    p {
        margin: 0px;
        text-align: center;
    }

}

nav {
    .noconnection {
        color: red;
    }
    .invalid {
        color: yellow;
    }
    .uninitialized {
        color: magenta;
    }
}

#configraw .notification {
    color: green;

    &.invalid {
        color: red;
    }
}

html {
    height: 100vh; 
}
body {
    // & > header, &> section,&>footer {
    // }
    & > section {
        overflow:auto;
        flex-grow: 1;
    }
  & > header {
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    background-color: #f3f3f3;
    padding: 10px;
  }
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  min-height: 100%;

      
      & > footer {
          & > div {
            margin-top: auto;
            background-color: #f3f3f3;
          }
          bottom: 0;
      }

    // width minus scrollbar
    width: calc(100vw - (100vw - 100%));
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}


body.manager > section {
    display: grid;
    grid-gap: 5px;
    nav.top {
        span {
            padding-left: 10px;
            padding-right: 10px;
            margin: 4px;
            border-radius: 4px;
            border: gray solid 1px;
            vertical-align: middle;
        }
        span[open] {
            background-color: #bbb;
        }
        padding: 3px;
        grid-column: 1 / span 2;
    }
    nav.tree {
        padding: 2px;
        ol {
            list-style-type: circle;
        }
        li[open] {
            list-style-type: square;
        }
    }
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    article.note {
        border: #eee 3px solid;
        border-radius: 10px;
        background-color: #eee;
        & > span {
            font-weight: bold;
            padding: 10px;
        }
        main {
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            border: #eee 1px solid;

            img {
                max-width: 80%;
            }
        }
        margin: 5px;
    }

}
