<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Params.Info.homeTitle }}</title>
{{ end }}
{{- range .Site.Params.Assets.customSCSS -}}
{{ $style := resources.Get (print "css/" . ".scss") | toCSS }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}
<script>
function JSOnload(f){
    return Promise.all(JSOnload._scriptPromises).then(function(){
        return f();
    })
}
JSOnload._scriptResolvers = {};
JSOnload._scriptPromises = [new Promise(function(r){
    document.addEventListener("DOMContentLoaded", function(){
        r();
    });
})];
JSOnload.Register = function(name){
    JSOnload._scriptPromises.push(new Promise(function(resolve){
        JSOnload._scriptResolvers[name] = resolve;
    }));
};
JSOnload.Mark = function(name){
    JSOnload._scriptResolvers[name]();
};
</script>
{{- range .Site.Params.Assets.js -}}
<script>
    JSOnload.Register(' {{- . -}} ');
</script>
{{- $style := resources.Get (print "js/" . ".js") }}
<script type="text/javascript"
        src="{{ $style.RelPermalink }}"
        async
        onload="JSOnload.Mark(' {{- . -}} ');">
</script>
{{ end }}
{{ partial "favicons" . }}
<link rel="canonical" href="{{ .Permalink }}">
<meta name="theme-color" content="#ffffff">

<link href="/manage/fonts/css2_family-Alegreya_display-swap.css" rel="stylesheet">

<script src="/manage/js/marked/marked.min.js"></script>
<script src="/manage/js/js-yaml/js-yaml.min.js"></script>

<script src="/manage/js/plotly/plotly.min.js"></script>

<!-- highlight.js -->
<link rel="stylesheet" href="/manage/js/highlight/styles/stackoverflow-dark.css">
<script src="/manage/js/highlight/highlight.min.js"></script>

<!-- KaTeX -->
<link rel="stylesheet" href="/manage/js/katex/katex.min.css">
<script defer src="/manage/js/katex/katex.min.js"></script>
<script defer src="/manage/js/katex/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script>


{{ with $.Param "dotes_init" }}
<body class="{{ . }}">
<script>
var manager;
JSOnload(function(){manager = dotes.Init("{{ . }}");});;
</script>
{{ else }}
<body>
{{ end }}
<header>Dotes</header>
